<section id="home">
  <h1>Agile or Fragile?</h1>

  <p>
    If you're using Pivotal Tracker, you may have wondered whether you're using it "the right way".  This application
    takes advantage of the Tracker API to generate historical snapshots of your project over time.  Then it uses a series of
    rules to give you subjective feedback on what you're doing right and wrong regarding project management.
  </p>
  <p>Is your acceptance pipeline working efficiently? Is your velocity consistent?  Find out now by signing up!</p>
  <strong><a href="/projects">View your projects now!</a></strong>
  <p><em>This app is experimental and may have bugs, email feedback to <%= mail_to "dsboulder@gmail.com", "David Stevenson", :encode => "javascript" %></em></p>
</section>
