<h1><%= @project.name %></h1>
<% if @project.last_snapshot_at %>
<div class='row-fluid header'>
  <section class="span6 agile">
    <h3>Agile</h3>
    <div class="content"></div>
  </section>
  <section class="span6 fragile">
    <h3>Fragile</h3>
    <div class="content"></div>
  </section>
</div>
<% else %>
<h4>No snapshot data available yet for this project, it should appear within an hour.</h4>
<% end %>
