<h1><%= @project.name %></h1>
<div class='row-fluid header'>
  <h3 class="span4 agile">Agile</h3>
  <h3 class="span4 notices">Notices</h3>
  <h3 class="span4 fragile">Fragile</h3>
</div>

<div></div>

<div class="velocity_chart">
  <svg></svg>
</div>