<h1><%= @project.name %></h1>
<div class='row-fluid header'>
  <section class="span6 agile">
    <h3>Agile</h3>
    <div class="content"></div>
  </section>
  <section class="span6 fragile">
    <h3>Fragile</h3>
    <div class="content"></div>
  </section>
</div>

<div></div>

<div class="velocity_chart">
  <svg></svg>
</div>
