{{#fragiles}}
    <h4>Active problems</h4>
    {{#if active}}
    <section class="active">
      {{#active}}
        {{> _fragile}}
      {{/active}}
    </section>
    {{else}}
      <div class="no-active">
          You have no active problems!
      </div>
    {{/if}}
  {{#if inactive}}
    <h4><a href="#">{{lengthOf inactive}} Inactive problems</a></h4>
    <section class="inactive">
      {{#inactive}}
        {{> _fragile}}
      {{/inactive}}
    </section>
  {{/if}}
  {{#if nonrunnable}}
    <h4><a href="#">{{lengthOf nonrunnable}} Unverifiable problems</a></h4>
    <section class="nonrunnable">
      {{#nonrunnable}}
        {{> _fragile}}
      {{/nonrunnable}}
    </section>
  {{/if}}
{{/fragiles}}
