{{#fragiles}}
  {{#if active}}
    <h4>Active problems</h4>
    <div class="active">
      {{#active}}
        {{> _fragile}}
      {{/active}}
    </div>
  {{/if}}
  {{#if inactive}}
    <h4>Inactive problems</h4>
    <div class="inactive">
      {{#inactive}}
        {{> _fragile}}
      {{/inactive}}
    </div>
  {{/if}}
  {{#if nonrunnable}}
    <h4>Unverifiable problems</h4>
    <div class="nonrunnable">
      {{#nonrunnable}}
        {{> _fragile}}
      {{/nonrunnable}}
    </div>
  {{/if}}
{{/fragiles}}
